// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.m-plus-rounded-1c {
  font-family: "M PLUS Rounded 1c";
}

/*
 * Nico Moji (Japanese) https://fonts.google.com/earlyaccess
 */
@font-face {
  font-family: 'Nico Moji';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/nicomoji/v1/NicoMoji-Regular.eot);
  src: url(//fonts.gstatic.com/ea/nicomoji/v1/NicoMoji-Regular.eot?#iefix) format('embedded-opentype');
  src: url(//fonts.gstatic.com/ea/nicomoji/v1/NicoMoji-Regular.woff2) format('woff2');
  src: url(//fonts.gstatic.com/ea/nicomoji/v1/NicoMoji-Regular.woff) format('woff');
  src: url(//fonts.gstatic.com/ea/nicomoji/v1/NicoMoji-Regular.ttf) format('truetype');
}

.nico-moji {
  font-family: "Nico Moji";
}

$body-font-family = 'M PLUS Rounded 1c', sans-serif
$heading-font-family = 'M PLUS Rounded 1c', sans-serif